<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <!--Conexão com autenticação do Windowns-->
  <!--  <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ECCUSBET.Properties.Settings>
            <setting name="conexao" serializeAs="String">
                <value>False</value>
            </setting>
        </ECCUSBET.Properties.Settings>
    </applicationSettings>-->
    <connectionStrings>
        <add name="ECCUSBET.Properties.Settings.conexao" connectionString="False"
            providerName="" />
    </connectionStrings>
</configuration>